<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>XSLT Editor</title>

	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="/jstree-bootstrap/dist/themes/proton/style.css"
		rel="stylesheet" />
 	<link href="/app/css/edit.css" rel="stylesheet">
</head>

<body >

	<div class="container-fluid">

		<!--  ======================================== -->	
		<!--  Actions row: save, test, ...                                 -->
		<!--  ======================================== -->	
		<div class="row">
			<div class="col-lg-4">
		        <form class="form-inline my-2 my-lg-0">
		          <input id="xmlFileName" class="form-control mr-sm-2" type="text" th:value="${xmlFileName}" readonly>
		        </form>
			</div>
			<div class="col-lg-4">
		        <form class="form-inline my-2 my-lg-0">
		          <input id="xslFileName" class="form-control mr-sm-2" type="text" th:value="${xslFileName}" readonly>
		          <button id="xslSave" class="btn btn-primary-outline" type="button" title="Save">Save</button>
<!-- 		          <button id="xslRun" class="btn btn-primary-outline" type="button" title="Test">Test</button> -->
		        </form>
			</div>
			<div class="col-lg-4">
		        <form class="form-inline my-2 my-lg-0">
		          <input id="outFileName" class="form-control mr-sm-2" type="text" th:value="${outFileName}" readonly>
		        </form>
			</div>

		</div>

		<!--  ======================================== -->	
		<!-- Trees row                                 -->
		<!--  ======================================== -->	
		<div class="row">
			<div class="col-lg-4">
				<div>
					<input id="xml-search" type="text" placeholder="search">
					<div id="jstree-xmldata" class="xmltree"></div>
				</div>
			</div>
			<div class="col-lg-4">
				<div>
					<input id="xslt-search" type="text" placeholder="search">
					<div id="jstree-xsltdata" class="xmltree"></div>
				</div>
			</div>
			<div class="col-lg-4">
				<div>
					<input id="output-search" type="text" placeholder="search">
					<div id="jstree-outdata" class="xmltree"></div>
				</div>
			</div>
		</div>

		<!--  ======================================== -->	
		<!--  Tree edit actions                                 -->
		<!--  ======================================== -->	
		<div class="row">
			<div class="col-lg-4">
				<div class="badge badge-secondary">Copy Element</div>
			</div>
			<div class="col-lg-4">
				 <button class="btn btn-primary-outline " type="button" id="SurroundWithButton" >Surround</button>
			</div>
			<div class="col-lg-4">
			</div>
		</div>
		
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>	
 	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/jstree/dist/jstree.js"></script>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var xmlData = /*[[${xmlData}]]*/'default';
		var xsltData = /*[[${xsltData}]]*/'default';
		var outputData = /*[[${outputData}]]*/'default';
		/*]]>*/
	</script>

	<script src="/app/js/jstreeBinder.js"></script>
	<script src="/app/js/xsltEditor.js"></script>

</body>
</html>
